<html>
    <head>
        <title>Raspberry Pi - Surveillance Camera</title>
    </head>
    <body>
        <left>
            <h1>Files</h1>
        </left>

        <table>
            <tr>
                <th>File name</th>
                <th>Date</th>
                <th>Download</th>
                <th>Delete</th>
            </tr>

            {%for file, creation_time in zip(files, creation_times)%}
            <tr>
                <td>{{file}}</td>
                <td><b>{{creation_time}}<b></td>
                <td><a href=/files/download/{{file}}>download</a></td>
                <td><a href=/files/delete/{{file}}>delete</a></td>
            </tr>
            {%endfor%}
            {% if files %}
            <tr>
                <td></td>
                <td></td>
                <td><a href="/files/download_all">download all</a></td>
                <td><a href="/files/delete_all">delete all</a></td>
            </tr>
            {% endif %}
        </table>
        {% if not files %}
        There aren't any recorded files yet.
        {% endif %}

        <form action="/video" method="get">
            <button type="submit">Watch stream</button>
        </form>

    </body>
</html>